<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sql 작성 -->
<mapper namespace="com.smhrd.mapper.MemberMapper">
	<insert id="join" parameterType="MemberDTO">
		insert into u_member(id, pw, name, address1, address2) values(#{id},#{pw},#{name},#{address1},#{address2})
		
	</insert>
	<select id="login" parameterType="MemberDTO" resultType="MemberDTO">
		select * from u_member where id=#{id} and pw=#{pw}
	</select>
	
	<update id="update" parameterType="MemberDTO">
		update u_member set pw=#{pw},name=#{name},address=#{address1},address=#{address1} where id=#{id}   
	
	</update>
	
	<select id="showMember" resultType="MemberDTO">
		select * from u_member
	</select>
	
	<delete id="deleteMember" parameterType="String">
		delete from u_member where id=#{id}
	</delete>
</mapper>