@charset "EUC-KR";

#top-fix-category{
	text-align:right;
	position:absolute;
	right:0px; 
	top:0px; 
	width:300px; 
	height:100px;
	z-index:1000;
} 
.logout_Btn {
	background-color: lightslategray;
  	color: white;
}
.update_Btn{
	background-color: lightslategray;
  	color: white;
}